<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add New Banner</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/CommonMethods.js}"></script>
    <script type="text/javascript" th:src="@{/js/banner/add.js}"></script>
</head>
<body>
<div class="container">
    <div id="errorDiv" style="display:none">
    </div>
    <form name="bannerForm" action="/banner/add" method="post">
        <div class="form-group">
            <label for="name">Banner Name:</label>
            <input type="text" id="name" name="name" placeholder="Enter Banner Name: " required>
        </div>
        <div class="form-group">
            <label for="mainType">Banner Type:</label>
            <select id="mainType" name="mainType">
                <option value="">--Please Choose An Option--</option>
                <option th:each="mainCategory : ${mainCategories}" th:value="${mainCategory}" th:text="${mainCategory}"></option>
            </select>
        </div>
        <div class="form-group" id="subTypesDiv" style="display:none">
            <label for="subType">Sub Type:</label>
            <select id="subType" name="subType">
            </select>
        </div>
        <div class="form-group" id="loveInterestDiv" style="display:none">
        </div>
        <div class="form-group" id="startDiv" style="display:none">
            <label for="startDate">Start Date (YYYY-MM-DD):</label>
            <input type="text" name="startDate" id="startDate" placeholder="Enter start date" required>
        </div>
        <div class="form-group" id="endDiv" style="display:none">
            <label for="endDate">End Date (YYYY-MM-DD):</label>
            <input type="text" name="endDate" id="endDate" placeholder="Enter end date" required>
        </div>
        <button style="display:none" id="btnSubmit" class="submit" type="submit">Submit</button>
    </form>
</div>
</body>
</html>