<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add New Banner</title>
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/CommonMethods.js}"></script>
</head>
<body>
<div id="nav-bar">
</div>
<div id="container" class="container hidden">
    <p>Cost Per Card:</p>
    <table>
        <tr>
            <th>Exp Cost</th>
            <th>Gold Cost</th>
            <th>Stellacrum</th>
            <th>Crystal Cost N</th>
            <th>Crystal Cost R</th>
            <th>Crystal Cost SR</th>
        </tr>
        <tr th:each="cardLevelingCost : ${cardLevelingCosts}" th:with="crystalCost=${cardLevelingCost.crystalCosts[0]}">
            <td th:text="${cardLevelingCost.expCost}"></td>
            <td th:text="${cardLevelingCost.goldCost}"></td>
            <td th:text="${crystalCost.stellacrum}"></td>
            <td th:text="${crystalCost.n}"></td>
            <td th:text="${crystalCost.r}"></td>
            <td th:text="${crystalCost.sr}"></td>
        </tr>
    </table>
    <p>Total Leveling Cost:</p>
    <table>
        <tr>
            <th>Exp Cost</th>
            <th>Gold Cost</th>
            <th:block th:each="crystalCost : ${totalLevelingCost.crystalCosts}">
                <th th:text="${crystalCost.stellacrum + ' Cost N'}"></th>
                <th th:text="${crystalCost.stellacrum + ' Cost R'}"></th>
                <th th:text="${crystalCost.stellacrum + ' Cost SR'}"></th>
            </th:block>
        </tr>
        <tr>
            <td th:text="${totalLevelingCost.expCost}"></td>
            <td th:text="${totalLevelingCost.goldCost}"></td>
            <th:block th:each="crystalCost : ${totalLevelingCost.crystalCosts}">
                <th th:text="${crystalCost.n}"></th>
                <th th:text="${crystalCost.r}"></th>
                <th th:text="${crystalCost.sr}"></th>
            </th:block>
        </tr>
    </table>
    <p>Resources Needed:</p>
    <table>
        <tr>
            <th>Exp Cost</th>
            <th>Gold Cost</th>
            <th:block th:each="crystalCost : ${neededResources.crystalCosts}">
                <th th:text="${crystalCost.stellacrum + ' Cost N'}"></th>
                <th th:text="${crystalCost.stellacrum + ' Cost R'}"></th>
                <th th:text="${crystalCost.stellacrum + ' Cost SR'}"></th>
            </th:block>
        </tr>
        <tr>
            <td th:text="${neededResources.expCost}"></td>
            <td th:text="${neededResources.goldCost}"></td>
            <th:block th:each="crystalCost : ${neededResources.crystalCosts}">
                <th th:text="${crystalCost.n}"></th>
                <th th:text="${crystalCost.r}"></th>
                <th th:text="${crystalCost.sr}"></th>
            </th:block>
        </tr>
    </table>
    <p>Stamina Cost:</p>
    <table>
        <tr>
            <th>Exp Stamina Cost</th>
            <th>Gold Stamina Cost</th>
            <th th:each="crystalBountyCost : ${staminaCost.crystalStaminaCosts}" th:text="${crystalBountyCost.key + ' Stamina Cost'}"></th>
            <th>Total Stamina Cost</th>
        </tr>
        <tr>
            <th th:text="${staminaCost.expStaminaCost}"></th>
            <th th:text="${staminaCost.goldStaminaCost}"></th>
            <th th:each="crystalBountyCost : ${staminaCost.crystalStaminaCosts}" th:text="${crystalBountyCost.value}"></th>
            <th th:text="${staminaCost.total}"></th>
        </tr>
    </table>
    <p>Resources Needed After Using Ascension Boxes:</p>
    <table>
        <tr>
            <th>Exp Cost</th>
            <th>Gold Cost</th>
            <th:block th:each="crystalCost : ${neededResourcesAfterBoxes.crystalCosts}">
                <th th:text="${crystalCost.stellacrum + ' Cost N'}"></th>
                <th th:text="${crystalCost.stellacrum + ' Cost R'}"></th>
                <th th:text="${crystalCost.stellacrum + ' Cost SR'}"></th>
            </th:block>
        </tr>
        <tr>
            <td th:text="${neededResourcesAfterBoxes.expCost}"></td>
            <td th:text="${neededResourcesAfterBoxes.goldCost}"></td>
            <th:block th:each="crystalCost : ${neededResourcesAfterBoxes.crystalCosts}">
                <th th:text="${crystalCost.n}"></th>
                <th th:text="${crystalCost.r}"></th>
                <th th:text="${crystalCost.sr}"></th>
            </th:block>
        </tr>
    </table>
    <p>Stamina Cost After Using Ascension Boxes:</p>
    <table>
        <tr>
            <th>Exp Stamina Cost</th>
            <th>Gold Stamina Cost</th>
            <th th:each="crystalBountyCost : ${staminaCostAfterBoxes.crystalStaminaCosts}" th:text="${crystalBountyCost.key + ' Stamina Cost'}"></th>
            <th>Total Stamina Cost</th>
        </tr>
        <tr>
            <th th:text="${staminaCostAfterBoxes.expStaminaCost}"></th>
            <th th:text="${staminaCostAfterBoxes.goldStaminaCost}"></th>
            <th th:each="crystalBountyCost : ${staminaCostAfterBoxes.crystalStaminaCosts}" th:text="${crystalBountyCost.value}"></th>
            <th th:text="${staminaCostAfterBoxes.total}"></th>
        </tr>
    </table>
</div>
</body>
</html>