<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/CommonMethods.js}"></script>
    <script src="https://kit.fontawesome.com/d1cab11758.js" crossorigin="anonymous"></script>
</head>
<body>
<div id="nav-bar">
</div>
<div id="container" class="wrapper hidden">
    <h1 th:if="${user}" th:text="${'Welcome ' + user.username + '!'}"></h1>
    <h2>Forms for updating user information:</h2>
    <p><a href="/cardPull/add">Register new card pull</a></p>
    <p><a href="/resourceTracking/addPrep">Add to resource tracker</a></p>
    <p><a href="/playerCard/add">Add new owned card</a></p>
    <p><a href="/playerCard/update">Update owned card</a></p>
    <p><a href="/resourceTracking/list">View tracked resources</a></p>
    <p><a href="/activityRunPeriod/listBanners">View all banner runs</a></p>
    <p><a href="/activityRunPeriod/listEvents">View all event runs</a></p>
    <p><a href="/levelingPlanning/startPrep">Leveling Card Cost</a></p>
    <p><a href="/playerCard/list">View All Owned Cards</a></p>
    <p><a href="/playerBounty/update">Update Max Bounty Level</a></p>
    <p><a href="/logout">Logout</a></p>
    <div th:if="${user != null and #strings.equals(user.permissionLevel, 'admin')}" id="adminLinks">
        <h2>Admin links:</h2>
        <p><a href="/banner/add">Add new banner</a></p>
        <p><a href="/event/add">Add new event</a></p>
        <p><a href="/card/add">Add new card</a></p>
        <p><a href="/activityRunPeriod/add">Add new rerun of an event/banner</a></p>
    </div>
</div>
</body>
</html>