<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Bounty Level</title>
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/CommonMethods.js}"></script>
    <script type="text/javascript" th:src="@{/js/playerBounty/changeBountyLevel.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header">
</div>
<div id="container" class="container">
    <div id="errorDiv" style="display:none">
    </div>
    <form name="changeBountyLevelForm" action="/playerBounty/update" method="post">
        <div class="form-group" id="bountyNameDiv">
            <label for="bountyName">Bounty:</label>
            <select id="bountyName" name="bountyName">
                <option value="">--Please Choose An Option--</option>
                <option th:each="bountyName : ${bountyNames}" th:value="${bountyName}" th:text="${bountyName}"></option>
            </select>
        </div>
        <div class="form-group" id="bountyLevelDiv">
            <label for="bountyLevel">Highest Bounty Level:</label>
            <input type="number" id="bountyLevel" name="level" required>
        </div>
        <button id="btnSubmit" class="submit" type="submit">Submit</button>
    </form>
</div>
</body>
</html>