<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add New Resource Tracking</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/CommonMethods.js}"></script>
    <script type="text/javascript" th:src="@{/js/resourceTracking/add.js}"></script>
</head>
<body>
<div class="container">
    <form name="rtPrep" action="/resourceTracking/add" method="post">
        <div class="form-group" id="diamondDiv">
            <label for="diamonds">Diamonds:</label>
            <input type="number" id="diamonds" name="diamonds" th:value="${lastRT} ? ${lastRT.diamonds} : 0">
        </div>
        <div class="form-group" id="purpleDiamondDiv">
            <label for="purpleDiamonds">Purple Diamonds:</label>
            <input type="number" id="purpleDiamonds" name="purpleDiamonds" th:value="${lastRT} ? ${lastRT.purpleDiamonds} : 0">
        </div>
        <div class="form-group" id="deepspaceWishDiv">
            <label for="deepspaceWish">Deepspace Wishes:</label>
            <input type="number" id="deepspaceWish" name="deepspaceWish" th:value="${lastRT} ? ${lastRT.deepspaceWish} : 0">
        </div>
        <div class="form-group" id="empyreanWishDiv">
            <label for="empyreanWish">Empyrean Wishes:</label>
            <input type="number" id="empyreanWish" name="empyreanWish" th:value="${lastRT} ? ${lastRT.empyreanWish} : 0">
        </div>
        <div class="form-group" id="goldDiv">
            <label for="gold">Gold:</label>
            <input type="number" id="gold" name="gold" th:value="${lastRT} ? ${lastRT.gold} : 0">
        </div>
        <div class="form-group" id="awakeningHeartSrDiv">
            <label for="awakeningHeartSr">Awakening Heart SR:</label>
            <input type="number" id="awakeningHeartSr" name="awakeningHeartSr" th:value="${lastRT} ? ${lastRT.awakeningHeartSr} : 0">
        </div>
        <div class="form-group" id="awakeningHeartSsrDiv">
            <label for="awakeningHeartSsr">Awakening Heart SSR:</label>
            <input type="number" id="awakeningHeartSsr" name="awakeningHeartSsr" th:value="${lastRT} ? ${lastRT.awakeningHeartSsr} : 0">
        </div>
        <div th:each="resourceType,iterStat : ${resourceTypes}" th:with="noSpaces = ${#strings.replace(resourceType,' ','')}" th:id="${noSpaces + 'Div'}">
            <label th:for="${noSpaces + 'Checkbox'}" th:text="${'Show ' + resourceType + ': '}"></label>
            <input type="checkbox" th:id="${noSpaces + 'Checkbox'}" th:attr="onchange=|showResourceType(this.checked,'${noSpaces}')|"><br>
            <div th:id="${noSpaces + 'ValuesDiv'}" style="display:none">
                <input type="hidden" th:name="${'rtValuesForms[' + iterStat.index + '].resourceTypeName'}" th:value="${resourceType}">
                <div class="form-group" th:if="${resourceType == 'Ascension Crystal Box'}" th:id="${noSpaces + 'GeneralDiv'}">
                    <label th:for="${noSpaces + 'GeneralId'}" th:text="${resourceType + ' General:'}"></label>
                    <input type="number" th:id="${noSpaces + 'GeneralId'}" th:name="${'rtValuesForms[' + iterStat.index + '].general'}" th:value="${lastRT} ? ${lastRTVals.get(resourceType).general} : 0">
                </div>
                <div class="form-group" th:id="${noSpaces + 'NDiv'}">
                    <label th:for="${noSpaces + 'NId'}" th:text="${resourceType + ' N:'}"></label>
                    <input type="number" th:id="${noSpaces + 'NId'}" th:name="${'rtValuesForms[' + iterStat.index + '].n'}" th:value="${lastRT} ? ${lastRTVals.get(resourceType).n} : 0">
                </div>
                <div class="form-group" th:id="${noSpaces + 'RDiv'}">
                    <label th:for="${noSpaces + 'RId'}" th:text="${resourceType + ' R:'}"></label>
                    <input type="number" th:id="${noSpaces + 'RId'}" th:name="${'rtValuesForms[' + iterStat.index + '].r'}" th:value="${lastRT} ? ${lastRTVals.get(resourceType).r} : 0">
                </div>
                <div class="form-group" th:id="${noSpaces + 'SRDiv'}">
                    <label th:for="${noSpaces + 'SRId'}" th:text="${resourceType + ' SR:'}"></label>
                    <input type="number" th:id="${noSpaces + 'SRId'}" th:name="${'rtValuesForms[' + iterStat.index + '].sr'}" th:value="${lastRT} ? ${lastRTVals.get(resourceType).sr} : 0">
                </div>
                <div class="form-group" th:if="${resourceType == 'Wish Bottle' || resourceType == 'Core Energy'}" th:id="${noSpaces + 'SSRDiv'}">
                    <label th:for="${noSpaces + 'SSRId'}" th:text="${resourceType + ' SSR:'}"></label>
                    <input type="number" th:id="${noSpaces + 'SSRId'}" th:name="${'rtValuesForms[' + iterStat.index + '].ssr'}" th:value="${lastRT} ? ${lastRTVals.get(resourceType).ssr} : 0">
                </div><br>
            </div>
        </div>
        <button id="btnSubmit" class="submit" type="submit">Submit</button>
    </form>
</div>
</body>
</html>