<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add New Resource Tracking</title>
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/resourceTracking/resourceTrackingFormPrep.js}"></script>
</head>
<body>
<div class="container">
    <form name="rtPrep" action="/resourceTracking/addPrep" method="post">
        <div id="selectPreviousDayDiv">
            <p>Load information from previous entry?</p>
            <label for="selectPreviousDayYes">Yes</label>
            <input type="radio" id="selectPreviousDayYes" name="selectPreviousDay" value="true" required>
            <label for="selectPreviousDayNo">No</label>
            <input type="radio" id="selectPreviousDayNo" name="selectPreviousDay" value="false" required>
        </div>
        <button id="btnSubmit" class="submit hidden" type="submit">Next</button>
    </form>
</div>
</body>
</html>