<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add New Resource Tracking</title>
    <link rel="stylesheet" th:href="@{/css/global.css}">
</head>
<body>
<div id="nav-bar">
</div>
<div id="container" class="container hidden">
    <h1>Owned Cards: </h1>
    <table>
        <tr>
            <th>Love Interest</th>
            <th>Card Name</th>
            <th>Card Rarity</th>
            <th>Card Type</th>
            <th>Stellacrum</th>
            <th>Main Stat</th>
            <th>Card Rank</th>
            <th>Level</th>
            <th>Awakened</th>
            <th>Banner/Event Origin Name</th>
            <th>Update Card Info</th>
        </tr>
        <tr th:each="playerCard : ${playerCards}" th:with="card = ${playerCard.card}">
            <td th:text="${card.loveInterestType}"></td>
            <td th:text="${card.name}"></td>
            <td th:text="${card.rarityType}"></td>
            <td th:text="${card.cardType}"></td>
            <td th:text="${card.stellacrumType}"></td>
            <td th:text="${card.mainStatType}"></td>
            <td th:text="${playerCard.rankType}"></td>
            <td th:text="${playerCard.level}"></td>
            <td th:text="${playerCard.awakened}"></td>
            <td th:text="${card.cardOrigin.banner} ? ${card.cardOrigin.banner.name} : ${card.cardOrigin.event.name}"></td>
            <td><a th:href="${'/playerCard/update/' + playerCard.id}">Update Card</a></td>
        </tr>
    </table>

</div>
</body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/js/CommonMethods.js}"></script>
<script type="text/javascript" th:src="@{/js/playerCard/listPlayerCard.js}"></script>
</html>